COGOS_POSTGRES_PORT=55432
COGOS_POSTGRES_DATABASE=cognitive_os_dev
COGOS_POSTGRES_OWNER_USER=cogos_owner
COGOS_POSTGRES_OWNER_PASSWORD=
COGOS_POSTGRES_APP_USER=cogos_app
COGOS_POSTGRES_APP_PASSWORD=
COGOS_POSTGRES_DATA=/home/palkouser/projekt/cognitive-os-data/postgres/dev
COGOS_ARTIFACT_ROOT=/home/palkouser/projekt/cognitive-os-data/artifacts
COGOS_DATABASE_BOOTSTRAP_URL=
COGOS_DATABASE_ADMIN_URL=
COGOS_DATABASE_URL=
COGOS_TEST_DATABASE_URL=
